.content {
    padding: 100px 0;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards {
    width: 300px;
    height: 330px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: -8px;
}
.title {
    font-size: 25px;
    color: #000;
}
.desc {
    color: #b3aebb;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 18px;
}
.card_link {
    display: flex;
    width: 100px;
    height: 44px;
    line-height: 44px;
    justify-content: center;
    border: 1px solid black;
    padding: 0 40px;
    margin-left: 50px;
    font-family: Arial,sans-serif;
    color: #000;
    font-size: 14px;
}
.btn_link {
    display: flex;
    height: 44px;
    line-height: 44px;
    padding: 0 30px;
    border-radius: 24px;
    background-color: #ee0832;
    box-shadow: 0 6px 40px rgba(55, 94, 82, 0.3);
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 875px;
    text-decoration: none;
}

.btn_link:hover{
    background-color: rgb(199, 10, 38);
}